* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;  
}

body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    background-color: #fff;
    /* background: rgb(69,249,51);
    background: linear-gradient(0deg, rgba(69,249,51,1) 0%, rgba(23,157,12,1) 100%); */
}

a {
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.25rem;
}

.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: .25rem;
    background-color: #038f2d;
    padding-bottom: 1rem;
    padding-top: 1rem;
    color: #fff;
}

.title-header {
    padding: .5rem;
}

.header p {
    font-size: 1.25rem;
    padding-bottom: 1rem;
}

.section {
    display: flex;
    gap: 2rem;
    padding-top: 2.5rem;
    justify-content: space-evenly;
}

.faq {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    padding-top: 1rem;
    gap: .5rem;
}

details {
    background: white;
    border: 0.0625rem solid #ddd;
    border-radius: .3125rem;
    margin-bottom: .625rem;
    padding: .625rem;
    cursor: pointer;
    max-width: 40%;
    width: 30%;
  }
  
  details summary {
    font-weight: bold;
    font-size: 1.125rem;
    cursor: pointer;
    padding: .625rem;
  }
  
  details[open] {
    background: #fff;
    border-left: .25rem solid #038f2d;
  }
  
  details p {
    padding: .625rem;
    margin-top: .625rem;
    font-size: 1rem;
    color: #333;
    text-align: left;
  }

.servico, .produto {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: .25rem;
    padding-left: 1rem;
    padding-bottom: .5rem;
    font-weight: bold;
    background-color: #038f2d;
    border-radius: .5rem;
    min-width: 16.5625rem;
    color: #fff;
}

.title-body {
    padding-bottom: .5rem;
    padding-right: .75rem;
    padding-top: .75rem;
}

.precoServico, .precoProduto {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
.precoServico, .precoProduto label{
    font-weight: bold;
}

.section button {
    margin: .5rem 0;
    width: 10.75rem;
    border-radius: .5rem;
    height: 2rem;
    /* background-color: gold; */
    background-color: #ff5b14;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
}

.section button:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    filter: brightness(110%);
    transform: scale(1.05); 
    transition: all 0.3s ease;
    cursor: pointer;
}

input {
    height: 1.75rem;
    padding: .0625rem;
    border-width: .125rem;
    background-color: #fff;
}

.information {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
    margin-left: 1rem;

}

.information p {
    width: 40%;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 6rem;
}