* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;  
}

body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    background: rgb(69,249,51);
    background: linear-gradient(0deg, rgba(69,249,51,1) 0%, rgba(23,157,12,1) 100%);
}

a {
    font-weight: bold;
    text-decoration: underline;
}

.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: .5rem;
    background-color: #03C03C;
    padding-bottom: 1rem;
}

.title-header {
    padding: 1rem;
}

.section {
    display: flex;
    gap: 2rem;
    padding-top: 5rem;
    justify-content: space-evenly;
}

.servico, .produto {
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: start;
    gap: .25rem;
    padding-left: 1.5rem;
    padding-bottom: .5rem;
}

.title-body {
    padding-bottom: .5rem;
}

.precoServico, .precoProduto {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
.precoServico, .precoProduto label{
    font-weight: bold;
}

button {
    margin: .5rem 0;
    width: 10.75rem;
    border-radius: .5rem;
    height: 2rem;
    background-color: gold;
    font-weight: bold;
}
